@use "global" as *;

.c-card03 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $green2;
  aspect-ratio: 152/152;
  border-radius: 50%;
  max-width: 100%;
  width: 46%;
  position: relative;
  @include mq(md) {
    width: 100%;
    aspect-ratio: 180/180;
  }
}

.p-card03 > .c-card03:not(:first-child)::before,
.p-card03:not(:first-child) > .c-card03::before {
  content: '';
  position: absolute;
  width: myrem(13);
  height: myrem(25);
  background: $green2;
  clip-path: polygon(0 0, 0% 100%, 100% 50%);
  left: myrem(-15);
  @include mq(md) {
    width: myrem(16);
    height: myrem(29);
    left: myrem(-20);
  }
}

.c-card03::after {
  counter-increment: number 1;
  content: counter(number, decimal-leading-zero);
  font-size: myrem(16);
  line-height: calc(24 / 16);
  font-weight: bold;
  letter-spacing: 0;
  color: $green;
  position: absolute;
  background: $green3;
  width: calc(42 / 152 * 100%);
  height: calc(42 / 152 * 100%);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  @include mq(md) {
    font-size: myrem(20);
    width: calc(50 / 180 * 100%);
    height: calc(50 / 180 * 100%);
  }
}

.c-card03__contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: myrem(6);
  width: 100%;
}

.c-card03__image01 {
  width: calc(60 / 152 *100%);
  @include mq(md) {
    width: calc(72 / 180 *100%);
  }
}

.c-card03__image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.c-card03__image01 img {
  aspect-ratio: 60/53;
  @include mq(md) {
    aspect-ratio: 72/63;
  }
}

.c-card03__image02 {
  width: calc(66 / 152 *100%);
  @include mq(md) {
    width: calc(78 / 180 *100%);
  }
}

.c-card03__image02 img {
  aspect-ratio: 66/50;
  @include mq(md) {
    aspect-ratio: 78/60;
  }
}

.c-card03__image03 {
  width: calc(47 / 152 *100%);
  @include mq(md) {
    width: calc(56 / 180 *100%);
  }
}

.c-card03__image03 img {
  aspect-ratio: 47/63;
  @include mq(md) {
    aspect-ratio: 56/75;
  }
}

.c-card03__image04 {
  width: calc(52 / 152 *100%);
  @include mq(md) {
    width: calc(62 / 180 *100%);
  }
}

.c-card03__image04 img {
  aspect-ratio: 52/54;
  @include mq(md) {
    aspect-ratio: 62/64;
  }
}

.c-card03__text {
  font-size: myrem(11);
  line-height: calc(16 / 11);
  font-weight: 600;
  letter-spacing: .1em;
  text-align: center;
  color: $white;
  @include mq(md) {
    font-size: myrem(15);
  }
}

.p-card03 {
  display: flex;
  flex-wrap: wrap;
  gap: myrem(20);
  margin-right: myrem(15);
  @include mq(md) {
    display: contents;
  }
}

.p-card03 + .p-card03 {
  margin-top: myrem(30);
  margin-right: initial;
  margin-left: myrem(15);
}
