@use "global" as *;

.p-about {
  @include mq(md) {
    position: relative;
    overflow: visible;
  }
}

.p-about::before {
  @include mq(md) {
    content: "";
    display: block;
    position: absolute;
    top: myrem(249);
    bottom: myrem(-186);
    right: 0;
    width: 64%;
    background: url(/images/about/about_03.png) no-repeat center center / cover;
    z-index: -1;
  }
}

.p-about__wrapper {
  @include mq(md) {
    display: flex;
    justify-content: space-between;
  }
}

.p-about__imagebox {
  display: flex;
  align-items: flex-start;
  position: relative;
  @include mq(md) {
    width: calc(460 / 1000 * 100%);
  }
}

.p-about__image01 {
  width: calc(208 / 345 * 100%);
  position: relative;
  z-index: 2;
  left: 0;
  top: 0;
  opacity: 0;
  transform: translate(-100px, 0);
  overflow: hidden;
  border-radius: myrem(15);
  @include mq(md) {
    width: myrem(353);
    border-radius: myrem(30);
  }
}

.p-about__image01 img {
  width: 100%;
  height: auto;
  aspect-ratio: 208 / 245;
  object-fit: cover;
  @include mq(md) {
    aspect-ratio: 353 / 414;
    filter: drop-shadow(1px 3px 15px rgba(51, 114, 142, 0.29));
  }
}

.p-about__image02 {
  width: calc(202 / 345 * 100%);
  height: auto;
  position: absolute;
  z-index: 1;
  top: calc(153 / 375 * 100vw);
  right: 0;
  opacity: 0;
  transform: translateX(100px);
  overflow: hidden;
  border-radius: myrem(15);
  @include mq(md) {
    width: myrem(344);
    top: myrem(375);
    border-radius: myrem(30);
  }
}

.p-about__image02 img {
  width: 100%;
  height: auto;
  aspect-ratio: 202 / 145;
  object-fit: cover;
  @include mq(md) {
    aspect-ratio: 344 / 246;
    filter: drop-shadow(1px 3px 15px rgba(51, 114, 142, 0.29));
  }
}

.p-about__contents {
  margin-top: calc(83 / 375 * 100vw);
  @include mq(md) {
    margin-top: calc(92 / 1400 * 100vw);
    width: calc(500 / 1000 * 100%);
  }
}

.p-about .c-title {
  opacity: 0;
  transform: translateY(100px);
}

.p-about__text {
  font-size: myrem(14);
  line-height: calc(30 / 14);
  letter-spacing: .03em;
  margin-top: myrem(25);
  @include mq(md) {
    margin-top: myrem(36);
  }
}

.p-about__btn {
  width: myrem(240);
  margin: myrem(35) auto 0;
  @include mq(md) {
    margin: myrem(55) 0 0 auto;
  }
}
