@use "global" as *;

.p-access {
  position: relative;
  overflow: visible;
}

.p-access::before {
  content: "";
  display: block;
  position: absolute;
  top: myrem(192);
  bottom: 0;
  width: 100%;
  background: url(/images/access/access_01.png) no-repeat center center / cover;
  z-index: -1;
}

.p-access .c-title {
  text-align: center;
  opacity: 0;
  transform: translateY(100px);
  order: 1;
}

.p-access__map {
  width: 100%;
  margin-top: myrem(29);
  border-radius: myrem(50);
  overflow: hidden;
  aspect-ratio: 345/195;
}

.p-access iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

.p-access__wrapper {
  margin-top: myrem(20);
}

.p-access__logo {
  font-size: myrem(24);
  line-height: calc(35 / 24);
  letter-spacing: 0.1em;
  font-weight: 100;
  @include mq(md) {
  }
}

.p-access__info{
  display: flex;
  flex-direction: column;
  margin-top: myrem(12);
}

.p-access__phonenumber-text01 {
  font-size: myrem(19);
  font-weight: bold;
}

.p-access__phonenumber-text02 {
  font-size: myrem(30);
  font-weight: bold;
  line-height: calc(44 / 30);
}

.p-access__text {
  font-size: myrem(12);
  line-height: calc(24 / 12);
}

.p-access__text-address {
  margin-top: myrem(12);
}


/*-------------------------------------------
診察案内テーブル
-------------------------------------------*/
.p-access__table {
  display: block;
  border-collapse: collapse;
  overflow-x: scroll;
  margin-top: myrem(35);
}

.p-access__table th {
  border-top: 1px solid $black;
  padding: myrem(9) myrem(12.5);
  font-weight: normal;
  font-size: myrem(14);
  letter-spacing: -.05em;
}

.p-access__table th,
.p-access__table td {
  text-align: center;
  border-bottom: 1px solid $black;
}

.p-access__table td {
  padding: myrem(7.5) myrem(10.5);
  font-size: myrem(16);
}

.p-access__table td.p-access__table-item {
  font-size: myrem(14);
  padding: myrem(7.5) myrem(10.5);
}

.p-access__btn {
  width: myrem(240);
  margin: myrem(40) auto 0;
  @include mq(md) {
    margin: myrem(55) auto 0;
  }
}
