@use "global" as *;

.p-clinic {
  position: relative;
  overflow: visible;
  padding-top: myrem(39);
  @include mq(md) {
    padding-top: myrem(100);
  }
}

.p-clinic::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 18.8%;
  background: url(/images/clinic/clinic_01.png) no-repeat center center / cover;
  z-index: -1;
  @include mq(md) {
    height: 28.35%;
    background: url(/images/clinic/clinic_01PC.png) no-repeat center center / cover;
  }
}

.p-clinic__inner {
  padding-right: myrem(15);
  padding-left: myrem(15);
  @include mq(md) {
    max-width: myrem(1200);
    padding-right: myrem(strip-unit($padding-pc));
    padding-left: myrem(strip-unit($padding-pc));
  }
}

.p-clinic__inner02 {
  padding-right: myrem(15);
  padding-left: myrem(15);
  background-color: $white;
  border-radius: myrem(20);
  @include mq(md) {
    padding-right: myrem(100);
    padding-left: myrem(100);
  }
}

.p-clinic .c-breadcrumb {
  padding-top: myrem(20);
  padding-left: myrem(4);
  @include mq(md) {
    padding-top: myrem(30);
    padding-left: 0;
  }
}

.p-clinic .c-title {
  text-align: center;
  opacity: 0;
  transform: translateY(100px);
  margin-top: myrem(32);
  @include mq(md) {
    margin-top: myrem(40);
  }
}

.p-clinic__wrapper01 {
  margin-top: myrem(25);
  @include mq(md) {
    display: flex;
    align-items: center;
    gap: myrem(30);
    margin-top: myrem(40);
  }
}

.p-clinic__image {
  @include mq(md) {
    width: calc(485 / 1000 * 100%);
  }
}

.p-clinic__image img {
  aspect-ratio: 315/188;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: myrem(15);
  @include mq(md) {
    aspect-ratio: 485/290;
    border-radius: myrem(20);
  }
}

.p-clinic__textbox {
  margin-top: myrem(15);
  @include mq(md) {
    width: calc(485 / 1000 * 100%);
  }
}

.p-clinic__text01 {
  font-size: myrem(14);
  line-height: calc(30 / 14);
  text-align: left;
}

.p-clinic__text02 {
  text-align: end;
  margin-top: myrem(15);
  margin-right: myrem(1);
}

.p-clinic__text02 span:first-child {
  font-size: myrem(14);
  letter-spacing: .03em;
}

.p-clinic__text02 span:last-child {
  font-size: myrem(22);
  letter-spacing: .03em;
  margin-left: myrem(12);
}

/*-------------------------------------------
略歴
-------------------------------------------*/
.p-clinic__wrapper02 {
  margin-top: myrem(37);
  @include mq(md) {
    display: flex;
    justify-content: space-between;
  }
}

.p-career__block {
  @include mq(md) {
    width: calc(485 / 1000 * 100%);
  }
}

.p-clinic__subtitle {
  display: inline-block;
  padding: myrem(8) myrem(36) myrem(4);
  font-size: myrem(18);
  letter-spacing: 0.1em;
  color: $white;
  background-color: $green;
  border-radius: myrem(8) myrem(8) 0 0;
  @include mq(md) {
    font-size: myrem(22);
    padding: myrem(8) myrem(36) myrem(8);
  }
}

.p-clinic__career {
  border-top: 2px solid $green;
}

.p-clinic__career-item {
  border-bottom: 1px solid $green;
  padding: myrem(14) 0;
  font-size: myrem(14);
  letter-spacing: .08em;
  @include mq(md) {
    padding: myrem(19) 0;
  }
}

.p-clinic__career-item:last-child {
  line-height: calc(24 / 14);
  @include mq(md) {
    display: flex;
  }
}

.p-clinic__career-desc:last-child {
  @include mq(md) {
    margin-left: myrem(15);
  }
}


/*-------------------------------------------
資格・所属学会
-------------------------------------------*/
.p-info__block {
  margin-top: myrem(30);
  @include mq(md) {
    margin-top: 0;
    width: calc(485 / 1000 * 100%);
  }
}

.p-info__block .p-clinic__subtitle {
  padding: myrem(7) myrem(16) myrem(5);
  @include mq(md) {
    padding: myrem(11) myrem(16) myrem(5);
  }
}

.p-clinic__info {
  border-top: 2px solid $green;
}

.p-clinic__info-item {
  border-bottom: 1px solid $green;
  padding: myrem(15) 0;
  font-size: myrem(14);
  letter-spacing: .08em;
  @include mq(md) {
    display: flex;
    padding: myrem(18) 0;
  }
}

.p-clinic__info-list {
  margin-top: myrem(8);
  @include mq(md) {
    margin-top: 0;
  }
}

.p-clinic__info-item:first-child .p-clinic__info-list {
  @include mq(md) {
    margin-left: myrem(50);
  }
}

.p-clinic__info-item:last-child .p-clinic__info-list {
  @include mq(md) {
    margin-left: myrem(20);
  }
}

.p-clinic__info-list li {
  position: relative;
  padding-left: myrem(15);
  margin-top: myrem(4);
}

.p-clinic__info-list li::before {
  content: "・";
  position: absolute;
  left: 0;
}

.p-clinic__underline a {
  text-decoration: underline;
  text-underline-offset: myrem(2);
}
