@use "global" as *;

.p-clinic {
  position: relative;
  overflow: visible;
}

.p-clinic::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 19%;
  background: url(/images/clinic/clinic_01.png) no-repeat center center / cover;
  z-index: -2;
  @include mq(md) {
    // height: 57%;
    // background: url(/images/treatment/treatment_05PC.png) no-repeat center center / cover;
  }
}

.p-clinic::after {
  content: "";
  display: block;
  position: absolute;
  top: myrem(39);
  left: myrem(15);
  right: myrem(15);
  width: 92%;
  height: 100%;
  background: url(/images/clinic/clinic_02.png) no-repeat center center / cover;
  border-radius: myrem(20);
  z-index: -1;
  @include mq(md) {
    // height: 57%;
    // background: url(/images/treatment/treatment_05PC.png) no-repeat center center / cover;
  }
}

.p-clinic__inner {
  padding-right: myrem(30);
  padding-left: myrem(30);
}

.p-clinic .c-breadcrumb {
  padding-top: myrem(59);
  padding-left: myrem(4);
}

.p-clinic .c-title {
  text-align: center;
  opacity: 0;
  transform: translateY(100px);
  margin-top: myrem(32);
}

.p-clinic__wrapper01 {
  margin-top: myrem(25);
}

.p-clinic__image img {
  aspect-ratio: 315/188;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: myrem(15);
  @include mq(md) {
    // aspect-ratio: 230/300;
    // border-radius: myrem(30);
  }
}

.p-clinic__textbox {
  margin-top: myrem(15);
}

.p-clinic__text01 {
  font-size: myrem(14);
  line-height: calc(30 / 14);
  text-align: left;
  @include mq(md) {
  }
}

.p-clinic__text02 {
  text-align: end;
  margin-top: myrem(15);
  margin-right: myrem(1);
}

.p-clinic__text02 span:first-child {
  font-size: myrem(14);
  letter-spacing: .03em;
}

.p-clinic__text02 span:last-child {
  font-size: myrem(22);
  letter-spacing: .03em;
  margin-left: myrem(12);
}

/*-------------------------------------------
略歴
-------------------------------------------*/
.p-clinic__wrapper02 {
  margin-top: myrem(37);
}

.p-clinic__subtitle {
  display: inline-block;
  padding: myrem(8) myrem(36) myrem(4);
  font-size: myrem(18);
  letter-spacing: 0.1em;
  color: $white;
  background-color: $green;
  border-radius: myrem(10) myrem(10) 0 0;
}

.p-clinic__career {
  border-top: 2px solid $green;
}

.p-clinic__career-item {
  border-bottom: 1px solid $green;
  padding: myrem(14) 0;
  font-size: myrem(14);
  letter-spacing: .08em;
}

.p-clinic__career-item:last-child {
  line-height: calc(24 / 14);
}


/*-------------------------------------------
資格・所属学会
-------------------------------------------*/
.p-clinic__subtitle:nth-of-type(2) {
  margin-top: myrem(30);
  padding: myrem(7) myrem(16) myrem(5);
}

.p-clinic__info {
  border-top: 2px solid $green;
}

.p-clinic__info-item {
  border-bottom: 1px solid $green;
  padding: myrem(15) 0;
  font-size: myrem(14);
  letter-spacing: .08em;
}

.p-clinic__info-list {
  margin-top: myrem(8);
}

.p-clinic__info-list li {
  position: relative;
  padding-left: myrem(15);
  margin-top: myrem(4);
}

.p-clinic__info-list li::before {
  content: "・";
  position: absolute;
  left: 0;
}

.p-clinic__underline {
  text-decoration: underline;
  text-underline-offset: myrem(2);
}
