@use "global" as *;

.p-flow__wrapper {
  @include mq(md) {
    display: flex;
  }
}

.p-flow .c-title {
  text-align: center;
  opacity: 0;
  transform: translateY(100px);
  @include mq(md) {
    text-align: left;
  }
}

.p-flow__cards {
  counter-reset: number 0;
    max-width: myrem(500);
    margin-inline: auto;
    margin-top: myrem(28);
    @include mq(md) {
      min-width: myrem(800);
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(myrem(180), 1fr));
      gap: myrem(26);
      margin-inline: myrem(24) 0;
      margin-top: myrem(5);
    }
}

.p-flow__card03 {
  display: flex;
  flex-wrap: wrap;
  gap: myrem(20);
  margin-right: myrem(15);
  @include mq(md) {
    display: contents;
  }
}

.p-flow__card03+.p-flow__card03 {
  margin-top: myrem(30);
  margin-right: initial;
  margin-left: myrem(15);
}
