@use "global" as *;

.p-footer {
  background: #F8FFFF;
  @include mq(md) {
    transition: 0.4s;
  }
}

.p-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include mq(md) {
    flex-direction: row;
    align-items: flex-start;
    gap: calc(125 / 1400 * 100vw);
    justify-content: center;
  }
}

.p-footer__wrapper {
  @include mq(xl) {
    gap: myrem(125);
  }
}

.p-footer__logo {
  font-size: myrem(22);
  line-height: calc(33 / 22);
  letter-spacing: 0.1em;
  font-weight: 100;
  @include mq(md) {
    font-size: myrem(19);
    line-height: calc(29 / 19);
    margin-top: myrem(10);
  }
}


/*-------------------------------------------
ナビゲーション
-------------------------------------------*/
.p-footer__nav {
  width: 100%;
  margin-top: myrem(17);
  @include mq(md) {
    width: auto;
    margin-top: 0;
  }
}

.p-footer__nav-list {
  display: flex;
  flex-direction: column;
  @include mq(md) {
    flex-direction: row;
    gap: calc(34 / 1400 * 100vw);;
  }
}

.p-footer__nav-list {
  @include mq(xl) {
    gap: myrem(34);
  }
}

.p-footer__nav-list > li:last-child > a {
  padding-block: myrem(25) myrem(5);
  @include mq(md) {
    padding-block: myrem(10) myrem(5);
  }
}

.p-footer-nav-item__link {
  display: block;
  padding-block: myrem(20) myrem(5);
  font-size: myrem(16);
  letter-spacing: 0.04em;
  border-bottom: 1px solid rgba(164, 221, 224, .4);
  width: 100%;
  @include mq(md) {
    padding-block: myrem(10) myrem(5);
    letter-spacing: 0.1em;
    transition: 0.4s;
  }
}


/*-------------------------------------------
アコーディオン
-------------------------------------------*/
.p-footer-nav-item__accordion {
  display: flex;
}

.p-footer-nav-item__accordion .p-header-nav-item__link {
  width: 100%;
}


/*-------------------------------------------
ドロップメニュー
-------------------------------------------*/
.p-footer__dropmenu {
  padding-inline: myrem(15);
  @include mq(md) {
    padding: myrem(7) myrem(4) 0 myrem(4);
  }
}

.p-footer-dropmenu__item {
  width: 100%;
  border-bottom: 1px solid rgba(72, 72, 72, 0.3);
  display: flex;
  justify-content: space-between;
  @include mq(md) {
    border-bottom: none;
  }
}

.p-footer-dropmenu__link {
  width: 100%;
  align-items: center;
  padding-block: myrem(14) myrem(8);
  font-size: myrem(14);
  letter-spacing: 0.1em;
  @include mq(md) {
    padding-block: myrem(4) myrem(4);
  }
}

.p-footer-dropmenu__toggle {
  position: relative;
}

.p-footer-dropmenu__toggle::after {
  content: "";
  display: block;
  position: absolute;
  border-right: solid 1px $black;
  border-top: solid 1px $black;
  height: myrem(8);
  width: myrem(8);
  right: 0%;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  transition: transform .3s;
  @include mq(md) {
    height: myrem(6);
    width: myrem(6);
  }
}

.p-footer__copyright {
  margin-top: myrem(50);
  font-size: myrem(12);
  letter-spacing: 0.04em;
  display: block;
  text-align: center;
  @include mq(md) {
    margin-top: myrem(70);
    letter-spacing: 0.1em;
  }
}
