@use "global" as *;

.p-header {
  width: 100%;
  height: myrem(60);
  background: $white;
  position: fixed;
  top: 0;
  z-index: 44;
  @include mq(md) {
    height: myrem(80);
    transition: 0.4s;
  }
}

.p-header__inner {
  padding-left: myrem(15);
  @include mq(md) {
    padding: 0;
  }
}

.p-header__wrapper {
  height: myrem(60);
  display: flex;
  justify-content: space-between;
  @include mq(md) {
    height: myrem(80);
    align-items: center;
    gap: myrem(15);
    padding-left: myrem(50);
  }
}

.p-header__logo {
  display: block;
  position: relative;
  width: calc(190 / 375 * 100%);
  z-index: 44;
  @include mq(md) {
    width: calc(333 / 1400 * 100%);
    height: inherit;
    transition: 0.4s;
  }
}

.p-header__logo-image {
  width: 100%;
  @include mq(md) {
    transition: 0.4s;
  }
}

.p-header__logo-image img {
  aspect-ratio: 190/24;
  width: 100%;
  height: 100%;
  object-fit: contain;
  @include mq(md) {
    aspect-ratio: 333/40;
  }
}

.p-header__hamburger {
  height: myrem(60);
  width: myrem(50);
  padding: myrem(22.5) myrem(15);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 44;
  @include mq(md) {
    display: none;
  }
}

.p-header__hamburger span {
  width: 100%;
  height: 1px;
  background-color: $black;
  display: inline-block;
  border-radius: myrem(9);
  transform: translateY(0) rotate(0);
  transition: transform ease-in-out 0.3s;

}

.p-header__hamburger.is-active span:nth-child(1) {
  transform: translateY(myrem(7)) rotate(45deg);
}

.p-header__hamburger.is-active span:nth-child(2) {
  background-color: transparent;
}

.p-header__hamburger.is-active span:nth-child(3) {
  transform: translateY(myrem(-7)) rotate(-45deg);
}

// ナビゲーション
.p-header__nav {
  display: none;
  position: fixed;
  height: 100vh;
  width: 100%;
  background-color: $white;
  top: 0;
  left: 0;
  z-index: 43;
  padding-block: myrem(98) myrem(20);
  @include mq(md) {
    display: flex;
    position: static;
    height: inherit;
    width: 100%;
    padding: 0;
    align-items: center;
    background-color: transparent;
    justify-content: flex-end;
  }
}

.p-header__nav-inner {
  height: 100%;
  overflow: auto;
  padding-inline: myrem(30);
  @include mq(md) {
    height: inherit;
    overflow: initial;
  }
}

.p-header__nav-wrapper {
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  @include mq(md) {
    min-height: initial;
    height: inherit;
    flex-direction: row;
    justify-content: space-between;
    gap: myrem(15);
  }
}

.p-header__nav-list {
  width: myrem(315);
  margin-top: myrem(19);
  order: 2;
  @include mq(md) {
    order: initial;
    display: flex;
    width: initial;
    justify-content: flex-start;
    height: inherit;
    margin-inline: initial;
    margin-top: initial;
  }
}

.p-header__nav-item {
  border-bottom: 1px solid rgba($green2, 0.4);
  width: 100%;
  @include mq(md) {
    height: inherit;
    position: relative;
    display: flex;
    align-items: center;
    transition: 0.4s;
  }
}

.p-header__nav-item:not(:first-child)::before {
  @include mq(md) {
    content: "";
    position: absolute;
    width: 1px;
    height: myrem(16);
    background: $black;
  }
}

.p-header__nav-item:last-child {
  border-bottom: none;
}

.p-header-nav-item__link {
  display: block;
  padding: myrem(11) 0 myrem(13) myrem(10);
  font-size: myrem(18);
  line-height: calc(26 / 18);
  letter-spacing: 0.04em;
  @include mq(md) {
    font-size: myrem(16);
    color: $black;
    height: inherit;
    display: flex;
    align-items: center;
    padding: myrem(10);
    border-bottom: none;
    transition: 0.4s;
  }
}

.p-header-nav-item__link:hover {
  @include mq(md) {
    color: red;
    font-weight: bold;
    opacity: 1;
  }
}

// アコーディオン
.p-header-nav-item__accordion {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba($green2, 0.4);
}

.p-header-nav-item__accordion .p-header-nav-item__link {
  width: 100%;
}

.p-header-nav-item__toggle {
  position: relative;
  padding: myrem(20);
}

.p-header-nav-item__toggle::after{
  content: "";
  display: block;
  position: absolute;
  border-right: solid 2px $green;
  border-top: solid 2px $green;
  height: myrem(13);
  width: myrem(13);
  right: myrem(12);
  top: 50%;
  transform: translateY(-50%) rotate(135deg);
  transition: transform .3s;
}

.p-header-nav-item__toggle.open::after {
  transform: translateY(-50%) rotate(-45deg);
}

// ドロップメニュー
.p-header__dropmenu {
  display: none;
  @include mq(md) {
    transform: scaleY(0);
    transform-origin: top center;
    transition: .4s;
    background: rgb(255, 255, 255, .8);
    position: absolute;
    width: 100%;
    padding: myrem(14) myrem(7) myrem(12) myrem(10);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.p-header-dropmenu__item {
  position: relative;
  width: 100%;
  @include mq(md) {
    width: initial;
  }
}

.p-header-dropmenu__link {
  display: flex;
  align-items: center;
  gap: myrem(10);
  padding: myrem(12) 0 myrem(12) myrem(20);
  font-size: myrem(15);
  line-height: calc(21 / 15);
  letter-spacing: 0.04em;
  @include mq(md) {
    font-size: myrem(16);
    line-height: calc(34 / 16);
    letter-spacing: 0;
    padding-inline: 0;
    padding-block: myrem(3);
    transition: .4s;
  }
}

.p-header-dropmenu__link::before {
  content: "";
  display: block;
  width: myrem(16);
  height: 1px;
  background-color: $green;
}

.p-header-dropmenu__link:hover {
  @include mq(md) {
    color: blue;
    font-weight: bold;
    opacity: 1;
  }
}

.p-header-nav-item:hover .p-header__dropmenu {
  @include mq(md) {
    transform: scaleY(1);
  }
}

.p-header__btnlist {
  display: flex;
  flex-direction: column;
  gap: myrem(10);
  width: myrem(315);
  @include mq(md) {
    width: initial;
    flex-direction: row;
    height: inherit;
    gap: initial;
  }
}

.p-header__btnitem {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: myrem(10);
  transition: all 0.3s;
  @include mq(md) {
    height: inherit;
    width: myrem(262);
  }
}

.p-header__btnitem:hover {
  @include mq(md) {
    opacity: 0.6;
    cursor: pointer;
  }
}

// p-header__btnitem--phonenumber
.p-header__btnitem--phonenumber {
  color: #707070;
  background: rgba($green2, 0.3);
  order: 2;
  @include mq(md) {
    order: 1;
  }
}

.p-header__btnitem--phonenumber a {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: myrem(4) myrem(55) myrem(12) myrem(54);
}

.p-header__btnitem--phonenumber__text {
  display: flex;
  align-items: center;
  font-size: myrem(26);
  font-weight: 700;
  line-height: calc(37 / 26);
  letter-spacing: .027em;
  gap: myrem(9);
}

.p-header__btnitem--phonenumber__img {
  width: myrem(15);
}

.p-header__btnitem--phonenumber__img img {
  width: 100%;
  height: auto;
  aspect-ratio: 15/21;
  object-fit: cover;
}

.p-header__btnitem--phonenumber__text02 {
  color: $black;
  font-size: myrem(12);
  line-height: calc(17 / 12);
  letter-spacing: .004em;
}


// p-header__btnitem--reservation
.p-header__btnitem--reservation {
  color: $white;
  background: $green2;
  font-size: myrem(22);
  font-weight: 500;
  line-height: calc(32 / 22);
  letter-spacing: .1em;
  order: 1;
  @include mq(md) {
    height: inherit;
    width: myrem(120);
    order: 2;
  }
}

.p-header__btnitem--reservation a {
  display: flex;
  gap: myrem(19.5);
  padding: myrem(19) myrem(88) myrem(19) myrem(76);
}

.p-header__btnitem--reservation__img {
  width: myrem(30);
}

.p-header__btnitem--reservation__img img {
  width: 100%;
  height: auto;
  aspect-ratio: 30/32;
  object-fit: cover;
}

/* ハンバーガーメニュー展開時、背景を固定 */
body.active {
  height: 100%;
  overflow: hidden;
}
