@use "global" as *;

.p-header {
  height: myrem(60);
  background: $white;
  @include mq(md) {
    height: myrem(80);
    transition: 0.4s;
  }
}

.p-header__inner {
  padding-left: myrem(15);
  @include mq(md) {
    padding-left: 0;
  }
}

.p-header__wrapper {
  height: myrem(60);
  display: flex;
  justify-content: space-between;
  @include mq(md) {
    height: myrem(80);
    align-items: center;
  }
}

.p-header__logo {
  display: block;
  position: relative;
  width: calc(190 / 375 * 100%);
  z-index: 44;
  @include mq(md) {
    width: calc(435 / 1400 * 100%);
    height: inherit;
    transition: 0.4s;
    padding-inline: calc(102 / 1400 * 100vw) 0;
  }
}

.p-header__logo-image {
  width: 100%;
  @include mq(md) {
    width: calc(333 / 1400 * 100%);
    transition: 0.4s;
  }
}

.p-header__logo-image img {
  aspect-ratio: 190/24;
  width: 100%;
  height: 100%;
  object-fit: contain;
  @include mq(md) {
    aspect-ratio: 333/40;
  }
}

.p-header__hamburger {
  height: myrem(60);
  width: myrem(50);
  padding: myrem(22.5) myrem(15);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 44;
  @include mq(md) {
    display: none;
  }
}

.p-header__hamburger span {
  width: 100%;
  height: 1px;
  background-color: $black;
  display: inline-block;
  border-radius: myrem(9);
  transform: translateY(0) rotate(0);
  transition: transform ease-in-out 0.3s;
}

.p-header__hamburger.is-active span:nth-child(1) {
  transform: translateY(myrem(7)) rotate(45deg);
}

.p-header__hamburger.is-active span:nth-child(2) {
  background-color: transparent;
}

.p-header__hamburger.is-active span:nth-child(3) {
  transform: translateY(myrem(-7)) rotate(-45deg);
}


/*-------------------------------------------
ナビゲーション
-------------------------------------------*/
.p-header__nav {
  display: none;
  position: fixed;
  height: 100vh;
  width: 100%;
  background-color: $white;
  top: 0;
  left: 0;
  z-index: 43;
  padding-block: myrem(98) myrem(20);
  @include mq(md) {
    display: flex;
    position: static;
    height: inherit;
    width: calc(965 / 1400 * 100%);
    padding: 0;
    align-items: center;
    background-color: transparent;
    justify-content: flex-end;
  }
}

.p-header__nav-wrapper {
  padding-inline: myrem(30);
  height: 100%;
  min-height: 100vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  @include mq(md) {
    width: 100%;
    padding: 0;
    height: inherit;
    min-height: initial;
    overflow: initial;
    flex-direction: row;
  }
}

.p-header__nav-list {
  width: myrem(315);
  margin-top: myrem(19);
  order: 2;
  @include mq(md) {
    order: initial;
    display: flex;
    width: calc(583 / 965 * 100%);
    height: inherit;
    justify-content: flex-end;
    margin-top: initial;
  }
}

.p-header__nav-item {
  border-bottom: 1px solid rgba($green2, 0.4);
  width: 100%;
  @include mq(md) {
    border-bottom: none;
    height: inherit;
    position: relative;
    display: flex;
    align-items: center;
    transition: 0.4s;
    width: auto;
  }
}

.p-header__nav-item:not(:first-child)::before {
  @include mq(md) {
    content: "";
    position: absolute;
    width: 1px;
    height: myrem(16);
    background: $black;
  }
}

.p-header__nav-item:last-child {
  border-bottom: none;
}

.p-header-nav-item__link {
  display: block;
  padding: myrem(11) 0 myrem(13) myrem(10);
  font-size: myrem(18);
  line-height: calc(26 / 18);
  letter-spacing: 0.04em;
  @include mq(md) {
    font-size: calc(16 / 1400 * 100vw);
    line-height: calc(16 / 16);
    letter-spacing: 0.1em;
    height: inherit;
    display: flex;
    align-items: center;
    padding: calc(28 / 1400 * 100vw) calc(26 / 1400 * 100vw);
    transition: 0.4s;
  }
}

.p-header-nav-item__link:hover {
  @include mq(md) {
    color: $green;
    font-weight: bold;
    opacity: 1;
  }
}


/*-------------------------------------------
アコーディオン
-------------------------------------------*/
.p-header-nav-item__accordion {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba($green2, 0.4);
  @include mq(md) {
    border-bottom: none;
    height: inherit;
  }
}

.p-header-nav-item__accordion .p-header-nav-item__link {
  width: 100%;
}

.p-header-nav-item__toggle {
  position: relative;
  padding: myrem(20);
  @include mq(md) {
    display: none;
  }
}

.p-header-nav-item__toggle::after{
  content: "";
  display: block;
  position: absolute;
  border-right: solid 2px $green;
  border-top: solid 2px $green;
  height: myrem(13);
  width: myrem(13);
  right: myrem(12);
  top: 50%;
  transform: translateY(-50%) rotate(135deg);
  transition: transform .3s;
}

.p-header-nav-item__toggle.open::after {
  transform: translateY(-50%) rotate(-45deg);
}


/*-------------------------------------------
ドロップメニュー
-------------------------------------------*/
.p-header__dropmenu {
  display: none;
  @include mq(md) {
    transform: scaleY(0);
    transform-origin: top center;
    transition: .4s;
    background: rgb(255, 255, 255, .8);
    position: absolute;
    top: 100%;
    width: 100%;
    padding-inline: myrem(15);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius:0 0 myrem(10) myrem(10);
  }
}

.p-header-dropmenu__item {
  position: relative;
  width: 100%;
}

.p-header-dropmenu__item:not(:last-child) {
  border-bottom: 1px solid rgba(72, 72, 72, 0.3);
}

.p-header-dropmenu__link {
  display: flex;
  align-items: center;
  gap: myrem(10);
  padding: myrem(12) 0 myrem(12) myrem(20);
  font-size: myrem(15);
  line-height: calc(21 / 15);
  letter-spacing: 0.04em;
  @include mq(md) {
    font-size: calc(16 / 1400 * 100vw);
    line-height: calc(24 / 16);
    letter-spacing: .1em;
    padding-inline: 0;
    padding-block: myrem(15);
    transition: .4s;
    width: inherit;
    justify-content: center;
  }
}

.p-header-dropmenu__link::before {
  content: "";
  display: block;
  width: myrem(16);
  height: 1px;
  background-color: $green;
  @include mq(md) {
    display: none;
  }
}

.p-header-dropmenu__link:hover {
  @include mq(md) {
    color: $green;
    font-weight: bold;
    opacity: 1;
  }
}

.p-header-nav-item:hover .p-header__dropmenu {
  @include mq(md) {
    transform: scaleY(1);
  }
}

.p-header__btnlist {
  display: flex;
  flex-direction: column;
  gap: myrem(10);
  width: myrem(315);
  @include mq(md) {
    width: calc(382 /965 * 100%);
    flex-direction: row;
    height: inherit;
    gap: initial;
    height: 100%;
  }
}

.p-header__btnitem {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: myrem(10);
  transition: all 0.3s;
  @include mq(md) {
    height: inherit;
    border-radius: 0;
  }
}

.p-header__btnitem:hover {
  @include mq(md) {
    opacity: 0.6;
    cursor: pointer;
  }
}


/*-------------------------------------------
電話番号ボタン
-------------------------------------------*/
.p-header__btnitem--phonenumber {
  color: #707070;
  background: rgba($green2, 0.3);
  order: 2;
  @include mq(md) {
    width: calc(262 / 382 * 100%);
    color: $black;
    order: 1;
    height: inherit;
  }
}

.p-header__btnitem--phonenumber a {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: myrem(4) myrem(55) myrem(12) myrem(54);
  @include mq(md) {
    align-items: flex-end;
    padding: calc(20 / 1400 * 100vw) calc(25 / 1400 * 100vw) calc(11 / 1400 * 100vw) calc(25 / 1400 * 100vw);
  }
}

.p-header__btnitem--phonenumber__textbox {
  display: flex;
  align-items: center;
  gap: myrem(9);
  @include mq(md) {
    align-items: baseline;
    gap: 0;
  }
}

.p-header__btnitem--phonenumber__text01 {
  display: none;
  @include mq(md) {
    display: block;
    font-size: calc(16 / 1400 * 100vw);
    font-weight: bold;
  }
}

.p-header__btnitem--phonenumber__text02 {
  font-size: myrem(26);
  font-weight: 700;
  line-height: calc(37 / 26);
  letter-spacing: .027em;
  @include mq(md) {
    font-size: clamp(14px, 1.8vw, 26px);
    line-height: calc(26 / 26);
    letter-spacing: 0;
  }
}

.p-header__btnitem--phonenumber__img {
  width: myrem(15);
  @include mq(md) {
    display: none;
  }
}

.p-header__btnitem--phonenumber__img img {
  width: 100%;
  height: auto;
  aspect-ratio: 15/21;
  object-fit: cover;
}

.p-header__btnitem--phonenumber__text03 {
  color: $black;
  font-size: myrem(12);
  line-height: calc(17 / 12);
  letter-spacing: .004em;
  @include mq(md) {
    display: none;
  }
}

.p-header__btnitem--phonenumber__text04 {
  display: none;
  @include mq(md) {
    display: block;
    font-size: calc(12 / 1400 * 100vw);
  }
}


/*-------------------------------------------
Web予約ボタン
-------------------------------------------*/
.p-header__btnitem--reservation {
  color: $white;
  background: $green2;
  order: 1;
  @include mq(md) {
    background: $green;
    height: inherit;
    width: calc(120 / 382 * 100%);
    order: 2;
  }
}

.p-header__btnitem--reservation a {
  display: flex;
  font-size: myrem(22);
  font-weight: 500;
  line-height: calc(32 / 22);
  letter-spacing: .1em;
  gap: myrem(19.5);
  padding: myrem(19) myrem(88) myrem(19) myrem(76);
  @include mq(md) {
    font-size: clamp(10px, 1.2vw, 18px);
    font-weight: 700;
    line-height: calc(18 / 18);
    padding: calc(28 / 1400 * 100vw) calc(16 / 1400 * 100vw) calc(28 / 1400 * 100vw) calc(18 / 1400 * 100vw);
    align-items: center;
    height: inherit;
  }
}

.p-header__btnitem--reservation__img {
  width: myrem(30);
  @include mq(md) {
    display: none;
  }
}

.p-header__btnitem--reservation__img img {
  width: 100%;
  height: auto;
  aspect-ratio: 30/32;
  object-fit: cover;
}


/*-------------------------------------------
ハンバーガーメニュー展開時、背景を固定
-------------------------------------------*/
body.active {
  height: 100%;
  overflow: hidden;
}
