@use "global" as *;

.p-interior .c-title {
  text-align: center;
  opacity: 0;
  transform: translateY(100px);
  order: 1;
}

.p-interior .swiper {
  margin-top: myrem(27);
  @include mq(md) {
    margin-top: myrem(38);
    padding-bottom: myrem(60);
    overflow: visible;
  }
}

.swiper .swiper-slide {
  width: calc(244 / 375 * 100%);
  border-radius: myrem(20);
  overflow: hidden;
  @include mq(md) {
    width: calc(356 / 1400 * 100%);
    transform: scale(0.82);
    transition: all .7s;
  }
}

.swiper .swiper-slide-active {
  @include mq(md) {
    transform: scale(1);
    z-index: 1;
  }
}

.swiper-slide img {
  width: 100%;
  height: auto;
  aspect-ratio: 245/239;
  object-fit: cover;
  @include mq(md) {
    aspect-ratio: 435/423;
  }
}

.swiper-button-prev,
.swiper-button-next {
  background: $green;
  opacity: 0.7;
  width: myrem(40);
  height: myrem(40);
  border-radius: 50%;
  @include mq(md) {
    height:calc(50 / 1400 * 100vw);
    width: calc(50 / 1400 * 100vw);
  }
}

/* 前への矢印 */
.p-interior .swiper-button-prev {
  @include mq(md) {
    left: auto;
    right: calc(260 / 1400 * 100%);
    top: 99%;
    transform: translateY(-50%);
  }
}

/* 次への矢印 */
.p-interior .swiper-button-next {
  @include mq(md) {
    right: calc(200 / 1400 * 100%);
    top: 99%;
    transform: translateY(-50%);
  }
}

.swiper-button-prev svg,
.swiper-button-next svg {
  width: myrem(18);
  height: myrem(18);
  @include mq(md) {
    height: calc(21 / 1400 * 100vw);
    width: calc(21 / 1400 * 100vw);
  }
}
