@use "global" as *;

.p-mainvisual {
  position: relative;
}

.p-mainvisual__titlebox {
  transform: rotate(-7deg);
  position: absolute;
  z-index: 2;
  top: 10%;
  left: 5%;
}

.p-mainvisual__title {
  display: inline-block;
  font-size: clamp(18px, 3.9vw, 30px);
  line-height: calc(43 / 18);
  letter-spacing: 0;
  color: $green;
  font-family: $font-sub;
  transform: translate(-100px, 0);
  opacity: 0;
  @include mq(md) {
    font-size: calc(52 / 1400 * 100vw);
    line-height: calc(130 / 52);
    top: 9%;
    left: 8.5%;
  }
}

.p-mainvisual__image {
  width: calc(314 / 375 * 100%);
  margin-right: 0;
  margin-left: auto;
  z-index: 1;
  opacity: 0;
  transform: translateX(100px);
  overflow: hidden;
  border-radius: myrem(30) 0 0 myrem(30);
  @include mq(md) {
    width: calc(1000 / 1400 * 100%);
    border-radius: myrem(50) 0 0 myrem(50);
  }
}

.p-mainvisual__image img {
  width: 100%;
  height: auto;
  aspect-ratio: 314 / 232;
  object-fit: cover;
  @include mq(md) {
    aspect-ratio: 1000 / 593;
  }
}

.p-mainvisual__textbox {
  margin-left: myrem(15);
  position: absolute;
  z-index: 2;
  top: 91%;
  opacity: 0;
  transform: translate(-100px, 0);
  @include mq(md) {
    margin-left: myrem(200);
    margin-left: calc(200 / 1400 * 100vw);
    top: 31%;
  }
}

.p-mainvisual__text01 {
  font-size: clamp(22px, 3.9vw, 30px);
  line-height: calc(43 / 22);
  letter-spacing: 0.1em;
  color: $white;
  display: flex;
  flex-direction: column;
  gap: myrem(4);
  @include mq(md) {
    font-size: calc(34 / 1400 * 100vw);
    line-height: calc(60 / 34);
    gap: myrem(8);
  }
}

.p-mainvisual__text01 span {
  background-color: $green2;
  padding-inline: myrem(5) myrem(20);
  width: fit-content;
  @include mq(md) {
    padding-inline: myrem(5) 0;
  }
}

.p-mainvisual__text02 {
  font-size: clamp(15px, 2.8vw, 22px);
  line-height: calc(21 / 15);
  letter-spacing: 0.035em;
  margin-top: myrem(11);
  @include mq(md) {
    font-size: calc(20 / 1400 * 100vw);
    margin-top: myrem(15);
  }
}
