@use "global" as *;

.p-mainvisual {
  position: relative;
}

.p-mainvisual-title {
  font-size: myrem(18);
  line-height: calc(43 / 18);
  letter-spacing: 0;
  color: $green;
  font-family: $font-sub;
  position: absolute;
  z-index: 2;
  top: 10%;
  left: 5%;
  transform: rotate(-7deg);
  @include mq(md) {
    font-size: myrem(52);
    line-height: calc(130 / 52);
    top: 9%;
    left: 8.5%;
  }
}

.p-mainvisual__image {
  width: calc(314 / 375 * 100%);
  margin-right: 0;
  margin-left: auto;
  z-index: 1;
  @include mq(md) {
    width: calc(1000 / 1400 * 100%);
  }
}

.p-mainvisual__image img {
  width: 100%;
  height: auto;
  aspect-ratio: 314 / 232;
  object-fit: cover;
  @include mq(md) {
    aspect-ratio: 1000 / 593;
  }
}

.p-mainvisual__textbox {
  margin-left: myrem(15);
  position: absolute;
  z-index: 2;
  top: 91%;
  @include mq(md) {
    margin-left: myrem(200);
    top: 31%;
  }
}

.p-mainvisual__text01 {
  font-size: myrem(22);
  line-height: calc(43 / 22);
  letter-spacing: 0.1em;
  color: $white;
  display: flex;
  flex-direction: column;
  gap: myrem(4);
  @include mq(md) {
    font-size: myrem(34);
    line-height: calc(60 / 34);
    gap: myrem(8);
  }
}

.p-mainvisual__text01 span {
  background-color: $green2;
  padding-inline: myrem(5) myrem(20);
  width: fit-content;
  @include mq(md) {
    padding-inline: myrem(5) 0;
  }
}

.p-mainvisual__text02 {
  font-size: myrem(15);
  line-height: calc(21 / 15);
  letter-spacing: 0.035em;
  margin-top: myrem(11);
  @include mq(md) {
    font-size: myrem(20);
    margin-top: myrem(15);
  }
}
