@use "global" as *;

.p-news {
  position: relative;
  overflow: visible;
}

.p-news::before {
  content: "";
  display: block;
  position: absolute;
  top: myrem(-116);
  left: 0;
  width: 100%;
  height: 100%;
  background: url(/images/news/news_01.png) no-repeat center center/cover;
  opacity: 0.4;
}

.p-news__cards {
  margin-top: myrem(14);
}

.p-news .c-btn {
  justify-content: flex-end;
  margin-top: myrem(3);
}
