@use "global" as *;

.p-news {
  position: relative;
  overflow: visible;
}

.p-news::before {
  content: "";
  display: block;
  position: absolute;
  bottom: myrem(8);
  left: 0;
  width: 100%;
  aspect-ratio: 375 / 602;
  background: url(/images/news/news_01.png) no-repeat center center/cover;
  z-index: -1;
  @include mq(md) {
    aspect-ratio: 1400 / 423;
    background: url(/images/news/news_01PC.png) no-repeat center center/cover;
  }
}

.p-news__wrapper {
  @include mq(md) {
    display: flex;
    justify-content: flex-end;
    gap: myrem(37);
  }
}

.p-news .c-title {
  opacity: 0;
  transform: translateY(100px);
}

.p-news__cards {
  margin-top: myrem(14);
  @include mq(md) {
    margin-top: myrem(0);
    width: calc(623 / 1000 * 100%);
  }
}

.p-news .c-btn {
  justify-content: flex-end;
  margin-top: myrem(3);
  @include mq(md) {
    margin-top: myrem(15);
    margin-left: myrem(5);
    padding: myrem(5);
  }
}
