@use "global" as *;

.p-thanks {
  position: relative;
  overflow: visible;
  padding-block: myrem(39) myrem(61);
  @include mq(md) {
    padding-block: myrem(99) myrem(110);
  }
}

.p-thanks::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 61.2%;
  background: url(/images/clinic/clinic_01.png) no-repeat center center / cover;
  z-index: -1;
  @include mq(md) {
    height: 46.3%;
    background: url(/images/clinic/clinic_01PC.png) no-repeat center center / cover;
  }
}

.p-thanks__inner {
  padding-right: myrem(15);
  padding-left: myrem(15);
  @include mq(md) {
    padding-right: myrem(strip-unit($padding-pc));
    padding-left: myrem(strip-unit($padding-pc));
  }
}

.p-thanks__inner02 {
  padding-right: myrem(15);
  padding-left: myrem(15);
  background-color: $white;
  border-radius: myrem(20);
}

.p-thanks__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.p-thanks__title {
  position: relative;
  text-align: center;
  padding-top: myrem(44);
  font-size: myrem(24);
  line-height: calc(35 / 24);
  letter-spacing: .1em;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  @include mq(md) {
    padding-top: myrem(69);
    font-size: myrem(32);
    line-height: calc(46 / 32);
    flex-direction: row;
  }
}

.p-thanks__title::after {
  content: "";
  position: absolute;
  bottom: myrem(-17);
  left: 50%;
  transform: translateX(-50%);
  width: myrem(55);
  height: myrem(4);
  background-color: $green;
}

.p-thanks__text {
  text-align: center;
  font-size: clamp(12px, 1.8vw, 14px);
  line-height: calc(29 / 14);
  letter-spacing: .03em;
  font-weight: 500;
  margin-top: myrem(28);
  @include mq(md) {
    font-size: myrem(14);
    line-height: calc(34 / 14);
    letter-spacing: .1em;
    margin-top: myrem(50);
  }
}

.p-thanks__text-row {
  @include mq(md) {
    display: inline-flex;
  }
}

.p-thanks__text-row span {
  display: block;
}

.p-thanks__btn {
  width: myrem(240);
  margin: myrem(33) auto 0;
  @include mq(md) {
    margin: myrem(50) auto 0;
  }
}

.p-thanks__btn .c-btn02--secondary span::before {
  translate: myrem(55) myrem(-1);
}

.p-thanks__btn .c-btn02--secondary span::after {
  translate: myrem(51) myrem(-3);
}
