@use "global" as *;

/* フェードインアニメーション */
@keyframes fadeIn {
  0% {
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

/* フェードインさせるクラス */
.u-fadeIn {
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
